<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>COSY</display-name>
  <servlet>
    <servlet-name>uiindex</servlet-name>
    <servlet-class>com.rz.uiindex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uiindex</servlet-name>
    <url-pattern>/firstindex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goodsadd</servlet-name>
    <servlet-class>com.rz.goodsadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodsadd</servlet-name>
    <url-pattern>/views/goodsadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goodslist</servlet-name>
    <servlet-class>com.rz.goodslist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodslist</servlet-name>
    <url-pattern>/views/goodslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uilogin</servlet-name>
    <servlet-class>com.rz.uilogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uilogin</servlet-name>
    <url-pattern>/admin/uilogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goodsdelete</servlet-name>
    <servlet-class>com.rz.goodsdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodsdelete</servlet-name>
    <url-pattern>/views/goodsdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goodsedit</servlet-name>
    <servlet-class>com.rz.goodsedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodsedit</servlet-name>
    <url-pattern>/views/goodsedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberlist</servlet-name>
    <servlet-class>com.rz.memberlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberlist</servlet-name>
    <url-pattern>/views/memberlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberdelete</servlet-name>
    <servlet-class>com.rz.memberdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberdelete</servlet-name>
    <url-pattern>/views/memberdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberedit</servlet-name>
    <servlet-class>com.rz.memberedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberedit</servlet-name>
    <url-pattern>/views/memberedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uigoodsview</servlet-name>
    <servlet-class>com.rz.uigoodsview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uigoodsview</servlet-name>
    <url-pattern>/uigoodsviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderheadlist</servlet-name>
    <servlet-class>com.rz.orderheadlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderheadlist</servlet-name>
    <url-pattern>/views/orderheadlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderview</servlet-name>
    <servlet-class>com.rz.orderview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderview</servlet-name>
    <url-pattern>/views/orderview</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>mycenter</servlet-name>
    <servlet-class>com.rz.mycenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mycenter</servlet-name>
    <url-pattern>/myselfcenter</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>